body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 80px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -42%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #93F9B9;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #93F9B9;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #93f9b9;
}

@media screen and (max-width: 900px){
    .slider{
        width: 500px;
        height: 500px;
        border-radius: 10px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 80px;
    }

    .slide img{
        width: 500px;
        height: 300px;
    }
    
}